.ant-card.infoNoticias-card {
    width: 280px;
    margin-bottom: 30px;
}

.card_image_news {
    max-height: 300px;
    max-width: 280px;
    min-height: 300px;
    min-width: 280px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}