.noticiasPage-menu {
    display: flex;
    justify-content: center;
}

.noticiasPage-slogan {
    text-align: center;
    background: rgba(68, 250, 4, 0.4);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
}